.add-button-align {
  text-align: right;
}

.exercise-modal-input-spacing {
  margin-bottom: 10px;
}

.exercise-card-buttons {
  float: right;
  margin-left: 5px;
}

.exercise-card-spacing {
  margin-top: 15px;
}

.exercise-card-height {
  height: 100%;
}

.selected-entry {
  background-color: #F9E79F;
}

.edit-delete-table-align {
  text-align: right;
}

.edit-delete-table-buttons {
  margin-left: 5px;
}

.sort-by-button {
  margin-right: 10px;
}

.no-exercises-align {
  text-align: center;
}

.entry-modal-next-align {
  text-align: right;
}

.entry-modal-back-align {
  text-align: left;
}

.entry-modal-create-new {
  margin-left: 5px;
}

.entry-modal-create-new-align {
  text-align: center;
}

.entry-modal-spinner-align {
  text-align: center;
}

.center-align {
  text-align: center;
}

.right-align {
  text-align: right;
}

.log-column-1 {
  width: 5%;
}

.log-column-2 {
  width: 15%
}

.log-column-3 {
  width: 40%;
}

.log-column-4 {
  width: 40%;
}

.sort-width {
  width: 30px;
}

.table-hover tbody tr:hover td, .table-hover tbody tr:hover th {

}
